# General
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

# Backend (Java/Maven)
backend/target/
backend/*.iml
backend/.mvn/wrapper/maven-wrapper.properties

# Frontend (Node/React)
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# User temporary files
login_res.json
